<div class="container ">
  <div class="row">

    <div class="jumbotron jumbotron-fluid container-l">
      <div class="container">
        <h1 class="display-4">BENVENIDO</h1>
      </div>
      <button (click)="regresar()">REGRESAR</button>
    </div>
  </div>
  <!--Filtro-->
  <mat-form-field appearance="standard">
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
  </mat-form-field>
  <!--TABLA-->
  <div class="row">
    <!--Tabla-->
    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="emp_cod">
          <th mat-header-cell *matHeaderCellDef> emp_cod </th>
          <td mat-cell *matCellDef="let element"> {{element.emp_cod}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fac_doc">
          <th mat-header-cell *matHeaderCellDef> fac_doc </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_doc}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fac_num">
          <th mat-header-cell *matHeaderCellDef> fac_num </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_num}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fac_fec">
          <th mat-header-cell *matHeaderCellDef> fac_fec </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_fec}} </td>
        </ng-container>
        <ng-container matColumnDef="cli_cod">
          <th mat-header-cell *matHeaderCellDef> cli_cod. </th>
          <td mat-cell *matCellDef="let element"> {{element.cli_cod}} </td>
        </ng-container>
        <ng-container matColumnDef="fac_est">
          <th mat-header-cell *matHeaderCellDef> fac_est. </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_est}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="fac_tot">
          <th mat-header-cell *matHeaderCellDef> fac_tot </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_tot}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fac_sub0">
          <th mat-header-cell *matHeaderCellDef> fac_sub0 </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_sub0}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fac_sub1">
          <th mat-header-cell *matHeaderCellDef> fac_sub1 </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_sub1}} </td>
        </ng-container>
        <ng-container matColumnDef="fac_dscto">
          <th mat-header-cell *matHeaderCellDef> fac_dscto. </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_dscto}} </td>
        </ng-container>
        <ng-container matColumnDef="fac_dscto1">
          <th mat-header-cell *matHeaderCellDef> fac_dscto1. </th>
          <td mat-cell *matCellDef="let element"> {{element.fac_dscto1}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>
  </div>


</div>
