<app-navbar></app-navbar>
<header class="row text-center mt-3">
  <h3>FACTURACION</h3>
</header>
<section class="Crud m-2" id="Crud">
  <header></header>
  <body id="idbody">
    <mat-card class="m-3">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <label class="form-label">N Factura</label>
            <input type="number" class="form-control" [(ngModel)]="factura.fac_num" tag="cpru" id="fac_num"
              name="N FACTURA" disabled/>
          </div>
          <div class="col">
            <label class="form-label">FECHA FACTURA</label>
            <input type="datetime" class="form-control" [(ngModel)]="this.l_facfec" tag="cnrn" id="fac_fec"
              name="FECHA FACTURA" disabled />
          </div>

          <div class="col">
            <label class="form-label">SERIE</label>
            <input type="text" class="form-control" [(ngModel)]="factura.fac_ser " id="fac_ser" tag="cnrn" name="SERIE"
              aria-describedby="" />
          </div>
          <div class="col">
            <label class="form-label">SUCURSAL</label>
            <input type="text" class="form-control" [(ngModel)]="factura.suc_cod" id="suc_cod" tag="cnrn" maxlength="3"
              name="SUCURSAL" aria-describedby="" />
          </div>
          <div class="col">
            <label class="form-label">TIPO COBRO</label>
            <select class="form-select" id="fco_cod" tag="cnrn"  name="Tipo Cobro">
              <option selected value="EFE"> Seleccione</option>
              <option *ngFor="let item of this.fcoCobro" [value]="item.fco_cod">{{item.fco_nom}}</option>
            </select>

            <!-- <input type="text" class="form-control" [(ngModel)]="factura.fco_cod" id="fco_cod" tag="cnrn"
              maxlength="3" name="Tipo Cobro" /> -->
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="m-3">
      <mat-card-title>
        CLIENTE
      </mat-card-title>
      <div class="container text-center" #divCliente id="divCliente">
        <div class="row">
          <div class="col">
            <label class="form-label text-center">COD</label>
            <input type="text" class="form-control styleinp " #cli_cod id="cli_cod" name="Codigo Cliente" tag="cpru"
              [(ngModel)]="this.l_cli_cod"
              (focusout)="foucusOut(cli_cod.id,divCliente.id)"
              placeholder="" maxlength="5" value="{{this.gvariablesBus.g_DatosCli.cli_cod}}"/>
          </div>
          <div class="col">
            <label class="form-label">CI</label>
            <input type="text" class="form-control" #cli_nid name="CI" tag="cnrn"
            [(ngModel)]="this.l_cli_nid" id="cli_nid"
            (focusout)="foucusOut(cli_nid.id,divCliente.id )"
              autocomplete="false" value="{{this.gvariablesBus.g_DatosCli.cli_nid}}" />
          </div>
          <div class="col">
            <label class="form-label">NOMBRE</label>
            <input type="text" class="form-control" #cli_nom name="Nombre Cliente " tag="cnrn"
            [(ngModel)]="this.l_cli_nom"
              (keydown)="precionarTecla($event , divCliente.id,cli_nom.id)" id="cli_nom"
              autocomplete="false" value="{{this.gvariablesBus.g_DatosCli.cli_nom}}"/>
          </div>
          <div class="col ">
            <label>Estado</label>
            <input   class="form-control"  id="cli_est" tag="cnnn" disabled value="{{this.gvariablesBus.g_DatosCli.cli_est}}" />
          </div>
          <div class="col ">
            <label>Correo</label>
            <input  class="form-control"  id="cli_email" tag="cnnn" disabled value="{{this.gvariablesBus.g_DatosCli.cli_email}}" />
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="m-3">
      <mat-card-title>
        ARTICULO
      </mat-card-title>
      <div class="container text-center">
        <div class="row" #divArticulo id="divArticulo">
          <div class="col">
            <label class="form-label">CODIGO </label>
            <input type="text" class="form-control" #art_cod id="art_cod" tag="cpru" name="Codigo Articulo"
              [(ngModel)]="this.gvariablesBus.g_DatosArt.art_cod"
              value="{{this.gvariablesBus.g_DatosArt.art_cod}}" (focusout)="foucusOut(art_cod.id,divArticulo.id)" />
          </div>
          <div class="col">
            <label class="form-label">NOMBRE</label>
            <input type="text" class="form-control" #art_nom
              (keydown)="precionarTecla($event ,divArticulo.id,art_nom.id)" name="Nombre Articulo" tag="cnrn"
              [(ngModel)]="this.fart_nom" id="art_nom"
              value="{{this.gvariablesBus.g_DatosArt.art_nom}}"/>
          </div>
          <div class="col">
            <label class="form-label">CANTIDAD </label>
            <input type="number" class="form-control" [(ngModel)]="this.fart_cant" tag="cnrn" name="Cantidad " #idfcant id="art_cant" />
          </div>
          <div class="col">
            <label class="form-label">Precio</label>
            <input type="number" class="form-control"
            value="{{this.gvariablesBus.g_DatosArt.art_prec}}" tag="cnnn" id="art_prec" name="" disabled />
          </div>
          <div class="col">
            <label class="form-label">IVA</label>
            <input type="number" class="form-control" tag="cnnn" id="art_pimpto"
              value="{{this.gvariablesBus.g_DatosArt.art_pimpto}}"  disabled="" />
          </div>
          <div class="col mt-4">
            <button type="button" class="btn btn-primary" (click)="agregarArt()" data-bs-dismiss="modal"
              [disabled]="this.F_Bagregar">
              AGREGAR
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </body>
</section>
<section class="detalle">
  <header></header>
  <body class="tabla" *ngIf="this.vertable">
    <div class=" row mat-elevation-z8 m-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N-FACTURA</th>
            <th scope="col">CODIGO ART</th>
            <th scope="col">NOMBRE ART</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">PRECIO</th>
            <th scope="col">IVA</th>
            <th scope="col">DESCUENTO</th>
            <th scope="col">SUBTOTAL</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.factura.Detalles">
            <th>{{ item.fac_num }}</th>
            <th>{{ item.art_cod }}</th>
            <th>{{ item.art_nom }}</th>
            <th>
              <input type="number" class="form-control" #idTcant id="idTcant" [(ngModel)]="item.fdt_cant"
                placeholder="{{ item.fdt_cant }}" (focusout)="fousTable(item ,idTcant)" />
            </th>
            <th>{{ item.fdt_prec }}</th>
            <th>{{ item.fdt_iva }}</th>
            <th>{{ item.fdt_desc }}</th>
            <th>{{ item.fdt_sub }}</th>
            <th>
              <div class="form-floating">
                <textarea class="form-control" #art_descrip id="art_descrip"
                  [(ngModel)]="item.fdt_obs" (focusout)="fousTable(item,art_descrip)"></textarea>
                <label for="floatingTextarea">Descripcion</label>
              </div>
            </th>
            <th>
              <button mat-raised-button color="warn" (click)="eliminar(item)">
                -
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <footer class=" totales y ob" >
    <div class="row mt-4 m-4" *ngIf="this.vertable">
      <div class="col-xs-12  col-sm-3 col-md-3 col-lg-2 mt-2">
        <h3>Total</h3>
      </div>
      <div class="col-xs-12  col-sm-3 col-md-3 col-lg-2 mt-2 ">
        <label>
          SUB0: {{this.gvariablesBus.gsubtotal0}}
        </label>
      </div>
      <div class="col-xs-12  col-sm-3 col-md-3 col-lg-2 mt-2 ">
        <label>
          SUB1: {{this.gvariablesBus.gsubtotal1}}
        </label>
      </div>
      <div class="col-xs-12  col-sm-3 col-md-3 col-lg-2 mt-2 ">
        <label>
          DESC: {{this.gvariablesBus.g_dec}}
        </label>
      </div>
      <div class="col-xs-12  col-sm-3 col-md-3 col-lg-2 mt-2 ">
        <label>
          IVA: {{this.gvariablesBus.g_iva}}
        </label>
      </div>
      <div class="col-xs-12  col-sm-3 col-md-3 col-lg-2 mt-2 ">

        <label>
          TOTAL: {{this.gvariablesBus.g_total}}
        </label>
      </div>
    </div>
    <div class="row m-4">
      <label>OBSERVACIONES</label>
      <textarea pInputTextarea [(ngModel)]="this.F_fac_obs"></textarea>
    </div>
  </footer>
</section>
<footer class="abs-center">
  <button pButton pRipple type="button" label="Anular" class="p-button-info m-2"></button>
  <button pButton pRipple type="button" label="Procesar" [disabled]="this.procesar" class="p-button-info m-2" (click)="Guardar(this)"> </button>
  <button pButton pRipple type="button" label="Nueva" class="p-button-info m-2"  (click)=" refresh()"></button>
  <button pButton pRipple type="button" label="Imprimir" class="p-button-info m-2" (click)="imprimir()"></button>
  <button pButton pRipple type="button" label="Emviar Email" class="p-button-info " (click)="EnviarEmail()"></button>
</footer>
