<div class="container color"  >
    <mat-card>
    <mat-card-title>FACTURACION</mat-card-title>
   <div class="row m-4">
    <mat-card class="table">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <label class="form-label">N Factura</label>
            <input type="number" class="form-control"   [(ngModel)]="factura.fac_num"  id="fac_num" name="fac_num"aria-describedby="" >
          </div>
          <div class="col">
            <label class="form-label">FECHA FACTURA</label>
            <input type="datetime" class="form-control" [(ngModel)]="factura.fac_fec" id="fac_fec"  name="fac_fec" >

          </div>
          <div class="col">
            <label class="form-label">SERIE</label>
            <input type="text" class="form-control" id="" name=""aria-describedby="">
          </div>
          <div class="col">
            <label class="form-label">SUCURSAL</label>
            <input type="text" class="form-control" id="" name=""aria-describedby="">
          </div>
        </div>
      </div>
    </mat-card>

  </div>
  <div class="row m-2">
    <mat-card class="table">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <label class="form-label">COD ClIENTE</label>
            <input type="text" class="form-control" (click)="Precionar_teclaCli()"  id="codcli" [(ngModel)]="factura.cli_cod" placeholder="{{this.l_nomArt}}" >
          </div>
          <div class="col">
            <label class="form-label">NOMBRE ClIENTE</label>
            <input type="text" class="form-control"  (click)="Precionar_teclaCli()" id="" [(ngModel)]="this.l_nomCli"    placeholder="{{this.l_nomCli}}" >
          </div>
          <div class="col">
            <label class="form-label">ESTADO ClIENTE </label>
            <input type="text" class="form-control"  value="{{this.l_estCli}}" id="" name=""aria-describedby="" disabled>
          </div>
          <div class="col">
            <label class="form-label">CATEGORIA ClIENTE</label>
            <input type="text" class="form-control" value="{{this.l_catCli}}"  id="" name=""aria-describedby="" disabled>
          </div>
          <div class="col mt-4">
              <button type="button" class="btn btn-primary "(click)=" buscarcli()" data-bs-dismiss="modal">Buscar</button>

          </div>
        </div>
      </div>


    </mat-card>


  </div>
  <div class="row m-4">

    <mat-card >
      <div class="container text-center">
        <div class="row">

          <div class="col">
            <label class="form-label">CODIGO ARTICULO</label>
            <input type="text" class="form-control" (click)="Precionar_teclaArt()"  id="" [(ngModel)]="this.l_codArt" placeholder="{{this.l_nomArt}}" >
          </div>
          <div class="col">
            <label class="form-label">NOMBRE ARTICULO</label>
            <input type="text" class="form-control" (click)="Precionar_teclaArt()" [(ngModel)]="this.l_nomArt" id="art_cod"  placeholder="{{this.l_nomArt}}"   name="art_cod"  >
          </div>
          <div class="col">
            <label class="form-label">CANTIDAD </label>
            <input type="number" class="form-control" [(ngModel)]="l_CantArt"    id="" name=""aria-describedby=""  required="llene">
          </div>
          <div class="col">
            <label class="form-label">Precio</label>
            <input type="number" class="form-control" value="{{this.l_precioArt}}" id="" name=""disabled >
          </div>
          <div class="col">
            <label class="form-label">Valor Total</label>
            <input type="number" class="form-control" [(ngModel)]="l_subTotal"id="" name="" disabled>
          </div>
          <div class="col mt-4">

            <button type="button" class="btn btn-primary "(click)="buscArt()" data-bs-dismiss="modal">Buscar</button>

        </div>
        </div>
      </div>



    </mat-card>


  </div>
  <div class="row m-4">
    <mat-card class="table" >
      <table class="table"  *ngIf="this.factura.Detalle">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">NFactura</th>
            <th scope="col">ARticulo</th>
            <th scope="col">NombreArt</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">SubTotal</th>
            <th scope="col">eliminR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.factura.Detalle" >
            <th>{{item.id}}</th>
            <th>{{item.fac_num}}</th>
            <th>{{item.art_cod}}</th>
            <th>{{item.art_nom}}</th>
            <th><input type="number" class="form-control" [(ngModel)]="item.fdt_cant" placeholder="{{item.fdt_cant}}"></th>
            <th>{{item.fdt_prec}}</th>
            <th>{{item.fdt_sub}}</th>
            <th><button   mat-raised-button color="warn" (click)="eliminar(item.id)">-</button></th>
          </tr>
          <tr>
            <th scope="col">TOTAL</th>
            <th> </th>
            <th>  </th>
            <th>  </th>
            <th>  </th>
            <th>  </th>
            <th> {{this.l_totalG}} </th>
          </tr>
        </tbody>
      </table>

    </mat-card>
  </div>
  <div class="row m-4">
    <mat-card>
    <button mat-raised-button color="primary"(click)="agregarArt()">Agregar</button>
    <button mat-raised-button color="accent"(click)="enviar()">Enviar</button>
    <button mat-raised-button color="warn" (clik)="Guardar()">Nueva factura</button>
  </mat-card>
  </div>


  </mat-card>

  </div>
