<div class="container color">
  <mat-card>
    <mat-card-title>FACTURACION</mat-card-title>
    <div class="row m-4">
      <mat-card class="table">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <label class="form-label">N Factura</label>
              <input type="number" class="form-control" [(ngModel)]="factura.fac_num" id="fac_num" name="fac_num"
                aria-describedby="" />
            </div>
            <div class="col">
              <label class="form-label">FECHA FACTURA</label>
              <input type="datetime" class="form-control" [(ngModel)]="factura.fac_fec" id="fac_fec" name="fac_fec" />
            </div>
            <div class="col">
              <label class="form-label">SERIE</label>
              <input type="text" class="form-control" id="" name="" aria-describedby="" />
            </div>
            <div class="col">
              <label class="form-label">SUCURSAL</label>
              <input type="text" class="form-control" id="" name="" aria-describedby="" />
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="row m-2">
      <mat-card class="table">
        <div class="container text-center">
          <div class="row" #divCliente id="divCliente">
            <div class="col">
              <label class="form-label">COD ClIENTE</label>

              <input type="text" class="form-control" #idcli_cod id="idcli_cod" [(ngModel)]="this.Fcli_cod"
                (focusout)="foucuscliente(idcli_cod)" value="{{ this.gvariablesBus.g_DatosCli.cli_cod }}"
                (keydown)="precionarTecla($event , divCliente.id,idcli_cod.id)"  placeholder=""/>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="false">
              A simple danger alert—check it out!
            </div>
            <div class="col" id="div_cli_nom">
              <label class="form-label">NOMBRE ClIENTE</label>
              <input type="text" class="form-control" #idcli_nom
                (keydown)="precionarTecla($event , divCliente.id,idcli_nom.id)" id="idcli_nom"
                [(ngModel)]="this.Fcli_nom" value="{{ this.gvariablesBus.g_DatosCli.cli_nom }}"
                (focusout)="foucuscliente(idcli_nom)" />
            </div>

            <div class="col">
              <label class="form-label">ESTADO ClIENTE </label>
              <input type="text" class="form-control" id="idcli_est" value="{{this.gvariablesBus.g_DatosCli.cli_est}}"
                disabled />
            </div>
            <div class="col">
              <label class="form-label">CATEGORIA ClIENTE</label>
              <input type="text" class="form-control" id="idcli_ccl_cod"
                value="{{this.gvariablesBus.g_DatosCli.ccl_cod}}" disabled />
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="row m-4">
      <mat-card>
        <div class="container text-center">
          <div class="row" #divArticulo id="divArticulo">
            <div class="col" name="div_art_cod" id="div_art_cod">
              <label class="form-label">CODIGO ARTICULO</label>
              <input type="text" class="form-control" #idart_cod id="idart_cod" [(ngModel)]="this.fart_cod"
                (keydown)="precionarTecla($event , divArticulo.id, idart_cod.id)"
                (focusout)="foucusArticulo(idart_cod)" value="{{this.gvariablesBus.g_DatosArt.art_cod}}" />
            </div>
            <div class="col" id="div_art_nom">
              <label class="form-label">NOMBRE ARTICULO</label>
              <input type="text" class="form-control" #idart_nom
                (keydown)="precionarTecla($event , divArticulo.id,idart_nom.id)" [(ngModel)]="this.fart_nom"
                id="idart_cod" id="idart_nom" (focusout)="foucusArticulo(idart_nom)"
                value="{{this.gvariablesBus.g_DatosArt.art_nom}}" />
            </div>
            <div class="col">
              <label class="form-label">CANTIDAD </label>
              <input type="number" class="form-control" [(ngModel)]="fart_cant" #idfcant id="idfcant"
                (focusout)="CantidadOp(idfcant.id)" />
            </div>
            <div class="col">
              <label class="form-label">Precio</label>
              <input type="number" class="form-control"  [(ngModel)]="this.gvariablesBus.g_DatosArt.art_prec"
              id="idart_prec" name="" disabled />
            </div>
            <div class="col">
              <label class="form-label">Valor Total</label>
              <input type="number" class="form-control" value="{{ this.gvariablesBus.gsubtotal }}" id="idart_sub"
                name="" disabled />
            </div>
            <div class="col mt-4">
              <button type="button" class="btn btn-primary" (click)="buscArt()" data-bs-dismiss="modal">
                AGREGAR
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="row m-4">
      <mat-card class="table">
        <table class="table" *ngIf="this.factura.Detalle">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">NFactura</th>
              <th scope="col">ARticulo</th>
              <th scope="col">NombreArt</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">SubTotal</th>
              <th scope="col">eliminR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.factura.Detalle">
              <th>{{ item.id }}</th>
              <th>{{ item.fac_num }}</th>
              <th>{{ item.art_cod }}</th>
              <th>{{ item.art_nom }}</th>
              <th>
                <input type="number" class="form-control" #idTcant id="idTcant" [(ngModel)]="item.fdt_cant"
                  placeholder="{{ item.fdt_cant }}"  />
              </th>
              <th>{{ item.fdt_prec }}</th>
              <th>{{ item.fdt_sub }}</th>
              <th>
                <button mat-raised-button color="warn" (click)="eliminar(item.id)">
                  -
                </button>
              </th>
            </tr>
            <tr>
              <th scope="col">TOTAL</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>{{ this.gvariablesBus.g_total }}</th>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <div class="row m-4 text-center ">
      <mat-card>
        <button mat-raised-button color="accent" (click)="enviar()">
          Nueva factura
        </button>
      </mat-card>
    </div>
  </mat-card>
</div>
