<app-navbar></app-navbar>
<header>
  <div class="row text-center mt-3">
    <h1>CLIENTES</h1>
  </div>
</header>
<section class="consulta" id="Consulta" *ngIf="this.MostrarConsulta">
  <header class="Filtro  row m-4">
    <mat-form-field appearance="standard">
      <mat-label>Busqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>
  </header>
  <body class="tabla m-4">
    <div class=" row mat-elevation-z8 m-4">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="cli_cod">
          <th mat-header-cell *matHeaderCellDef> CODIGO </th>
          <td mat-cell *matCellDef="let element"> {{element.cli_cod}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="cli_nom">
          <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
          <td mat-cell *matCellDef="let element"> {{element.cli_nom}} </td>
        </ng-container>
        <ng-container matColumnDef="cli_est">
          <th mat-header-cell *matHeaderCellDef> ESTADO </th>
          <td mat-cell *matCellDef="let element"> {{element.cli_est}} </td>
        </ng-container>
        <ng-container matColumnDef="cli_nid">
          <th mat-header-cell *matHeaderCellDef> CEDULA </th>
          <td mat-cell *matCellDef="let element"> {{element.cli_nid}} </td>
        </ng-container>
        <ng-container matColumnDef="cli_tlf1">
          <th mat-header-cell *matHeaderCellDef> TELEFONO</th>
          <td mat-cell *matCellDef="let element"> {{element.cli_tlf1}} </td>
        </ng-container>
        <ng-container matColumnDef="cli_tlf2">
          <th mat-header-cell *matHeaderCellDef> CELULAR </th>
          <td mat-cell *matCellDef="let element"> {{element.cli_tlf2}} </td>
        </ng-container>
        <ng-container matColumnDef="cli_email">
          <th mat-header-cell *matHeaderCellDef> CORREO </th>
          <td mat-cell *matCellDef="let element"> {{element.cli_email}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="boton">
          <th mat-header-cell *matHeaderCellDef> SELECCIONE</th>
          <td mat-cell *matCellDef="let element">
            <p-checkbox name="groupname" id="checkid" value="1" (click)="onSetData(element)"></p-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <footer class="abs-center">
      <button type="button" class="btn btn-primary m-3"  id="Nuevo" (click)="Nuevo()">NUEVO</button>
      <button type="button" class="btn btn-primary m-3" (click)="Actualizar()">ACTUALIZAR</button>
      <button type="button" class="btn btn-primary m-3">ELIMINAR</button>
    </footer>

  </body>
</section>
<section class="crud" id="Crud" *ngIf="this.MostrarCrud">
  <header></header>
  <body class="abs-center" id="idbody">
    <mat-card class="card">
      <div class="row">
        <div class="col-4" ALIGN="left">
          <label class="form-label mt-2">CODIGO:</label>
          <input type="text" #idcli_cod class="form-control"  tag="cpru" [(ngModel)]="cliente.cli_cod" id="cli_cod"
            name="CODIGO" aria-describedby="" disabled>
        </div>
        <div class="col-3" ALIGN="left">
          <label class="form-label">TIPO:</label>
          <input type="text" class="form-control styleinp"  tag="cpru" [(ngModel)]="cliente.cli_tid" id="cli_tid" name="TIPO"
            aria-describedby="" maxlength="1">
        </div>
        <div class="col-5">
          <label class="form-label mt-2">NUMERO:</label>
          <input type="number" class="form-control" id="cli_nid" tag="cpru"  #idcli_ni (focusout)="foucuscliente(idcli_ni.id)"
            [(ngModel)]="cliente.cli_nid" name="NUMERO" maxlength="13" #field="ngModel" number>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="form-label mt-2">NOMBRE</label>
          <input type="text" class="form-control"  tag="cnrn" [(ngModel)]="cliente.cli_nom" id="cli_nom" name="NOMBRE"
            aria-describedby="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label mt-2">DIRECCION</label>
          <input type="text" class="form-control" id="cli_dir"  tag="cnnn" [(ngModel)]="cliente.cli_dir" name="DIRECCION"
            aria-describedby="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label mt-2">TELEFONO</label>
          <input type="text" class="form-control"  tag="cnnn" [(ngModel)]="cliente.cli_tlf1" id="cli_tlf1" name="TELEFONO"
            aria-describedby="">
        </div>
        <div class="col">
          <label class="form-label mt-2">CELULAR</label>
          <input type="text" class="form-control" id="cli_tlf2"  tag="cnru" [(ngModel)]="cliente.cli_tlf2" name="CELULAR"
            aria-describedby="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label mt-2">CORREO</label>
          <input type="email" class="form-control"  tag="cnru" [(ngModel)]="cliente.cli_email" id="cli_email" name="CORREO"
            aria-describedby="" required>
        </div>
      </div>
    </mat-card>
  </body>
  <footer class="abs-center">
    <button type="button" class="btn btn-primary m-5" (click)="Guardar(this)">GUARDAR</button>
    <button type="button" class="btn btn-primary" (click)="Cancelar()">CANCELAR</button>
  </footer>
</section>
<footer></footer>
