table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.demo-row-is-clicked {
  font-weight: bold;
}
.styleinp{
  width: 70px;
  height: 60px;
}
.card{
  width: 600px;
  height: 400px;
  justify-content: center;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}
