<app-navbar></app-navbar>
<header class="row text-center mt-3">
  <h1>ARTICULOS</h1>
</header>
<section class="Consulta" id="Consulta" *ngIf="this.MostrarConsulta">
  <header class="Filtro  row m-4">
    <mat-form-field appearance="standard">
      <mat-label>Busqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>
  </header>
  <body class="tabla">
    <div class=" row mat-elevation-z8 m-4">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="art_cod">
          <th mat-header-cell *matHeaderCellDef> codigo </th>
          <td mat-cell *matCellDef="let element"> {{element.art_cod}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="art_nom">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.art_nom}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="art_est">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.art_est}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="art_prec">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.art_prec}} </td>
        </ng-container>
        <ng-container matColumnDef="art_nomcorto">
          <th mat-header-cell *matHeaderCellDef>Nombre Corto </th>
          <td mat-cell *matCellDef="let element"> {{element.art_nom1}} </td>
        </ng-container>
        <ng-container matColumnDef="uni_cod">
          <th mat-header-cell *matHeaderCellDef> Unidad </th>
          <td mat-cell *matCellDef="let element"> {{element.uni_cod}} </td>
        </ng-container>
        <ng-container matColumnDef="ars_cod">
          <th mat-header-cell *matHeaderCellDef> CATEGORIA </th>
          <td mat-cell *matCellDef="let element"> {{element.ars_cod}} </td>
        </ng-container>
        <ng-container matColumnDef="art_pimpto">
          <th mat-header-cell *matHeaderCellDef> IVA </th>
          <td mat-cell *matCellDef="let element"> {{element.art_pimpto}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="boton">
          <th mat-header-cell *matHeaderCellDef>Selecione </th>
          <td mat-cell *matCellDef="let element">
            <p-checkbox name="groupname" id="checkid" value="1" (click)="onSetData(element)"></p-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </body>
  <footer class="abs-center">
    <button type="button" class="btn btn-primary m-3" (click)="Nuevo()">NUEVO</button>
    <button type="button" class="btn btn-primary m-3" (click)="Actualizar()">ACTUALIZAR</button>
    <button type="button" class="btn btn-primary m-3">ELIMINAR</button>
  </footer>
</section>
<section class="Crud" id="Crud" *ngIf="this.MostrarCrud">
  <header></header>
  <body class="abs-center" id="idbody">
    <mat-card class="card">
      <div class="row">
        <div class="col-2" ALIGN=left>
          <label class="form-label mt-2 ">CODIGO:</label>
          <input type="text" class="form-control styleinp" tag="cpru" #art_cod
            [(ngModel)]="articulo.art_cod" id="art_cod"   value="" name="CODIGO" aria-describedby="" disabled>
        </div>
        <div class="col-2" ALIGN=left>
          <label class="form-label mt-2 ">ESTADO:</label>
          <input type="text" class="form-control styleinp"   disabled value=""  tag="cnnu" #art_est [(ngModel)]="articulo.art_est" id="art_est"
            name="ESTADO" aria-describedby="" maxlength="3">
        </div>
        <div class="col-2" ALIGN=left>
          <label class="form-label mt-2">UNIDAD</label>
          <input type="text" class="form-control styleinp"  value="" tag="cnnn" #uni_cod (focusout)="foucusArticulo(uni_cod.id)"  (keydown)="precionarbotonf4($event,uni_cod.id)" [value]="this.Variables.gDatosUnidad.uni_cod"    [(ngModel)]="articulo.uni_cod" id="uni_cod"
            name="UNIDAD" aria-describedby="" maxlength="3">
        </div>
        <div class="col-2" ALIGN=left>
          <label class="form-label mt-2 ">PRECIO</label>
          <input type="number" class="form-control styleinp" value=""  tag="cnru"[(ngModel)]="articulo.art_prec" id="art_prec"
            name="PRECIO" aria-describedby="">
        </div>
        <div class="col-2">
          <label class="form-label mt-2 ">CLASE</label>
          <input type="text" class="form-control styleinp"#ars_cod (focusout)="foucusArticulo(ars_cod.id)"  tag="cnru"(keydown)="precionarbotonf4($event,ars_cod.id)"[value]="this.Variables.gDatosClase.ars_cod" [(ngModel)]="articulo.ars_cod" id="ars_cod" name="CLASE"
            aria-describedby="">
        </div>
        <div class="col-2">
          <label class="form-label mt-2 ">IVA</label>
          <input type="number" class="form-control styleinp"    value="" tag="cnru" [(ngModel)]="articulo.art_pimpto" id="art_pimpto"
            name="IVA" aria-describedby="">
        </div>
      </div>
      <div class="col-8">
        <label class="form-label mt-2">NOMBRE</label>
        <input type="text" class="form-control"  tag="cnrn"  value=""  [(ngModel)]="articulo.art_nom" id="art_nom" name="NOMBRE"
          aria-describedby="">
      </div>
      <div class="col-4">
        <label class="form-label m-2">N-CORTO</label>
        <input type="text" class="form-control" id="art_nom1"   value="" tag="cnnn" [(ngModel)]="articulo.art_nom1"
          name="Nombre-Corto" aria-describedby="">
      </div>
    </mat-card>
  </body>
  <footer class="abs-center">
    <button type="button" class="btn btn-primary m-5" (click)="Guardar(this)">GUARDAR</button>
    <button type="button" class="btn btn-primary" (click)="Cancelar()">CANCELAR</button>
  </footer>
</section>
<footer>
  <h4> Footer Pagina</h4>
</footer>
